$font-stack: "Open Sans",
sans-serif;

body {
  font: 100% $font-stack;
  background: #fff;

  p {
    color: #333;
  }
}

.nav-menu-mobile {
  display: none;
}

img {
  width: 100%;
}

#mainlogo {
  margin-top: 0%;
  position: absolute;
  top: 6.3%;
  z-index: 4;
  left: 5%;
  display: block;
}

.main-nav {
  clear: none;
  width: 60%;
  float: right;
}

#color-nav {
  background: white;
  width: 100%;
  height: 14%;
  position: absolute;
  z-index: 2;
}

/* ------  Heading and Font Size Mixins ------ */

@mixin heading {
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: inherit;
}

@mixin heading-1 {
  @include heading;
  font-size: 3.375em;
  color: #333;
}

@mixin heading-2 {
  @include heading;
  font-size: 2.966em;
}

@mixin heading-3 {
  @include heading;
  font-size: 1.5em;
}

@mixin heading-4 {
  @include heading;
  font-size: 1.318em;
}

@mixin heading-5 {
  @include heading;
  font-size: 1em;
}

@mixin heading-6 {
  @include heading;
  font-size: 0.875em;
}

/* ------  Applying Heading Mixins  ------ */

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

/* ------  Clearit Mixin  ------ */

@mixin clearit {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  zoom: 1;
}

/* ------  Grid  ------ */

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

div[class^="col-"] {
  /*border: 1px solid red;*/
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;

  // $columns: 12;

  // @for $i from 1 through $columns {
  //     .col-#{$i} {
  //         flex: 0 0 100% / $columns * $i
  //     }

  //     .col-offset-#{$i} {
  //         margin-left: 100% / $columns * $i
  //     }
  // }
}

/* ------------  Media Quries Starts ------------ */

/* ------------  Media Quries Responsive Menu ------------ */

/* ------  Mobiles in Potrait ------ */
@media only screen and (max-width: 320px) {
  .nav-menu-mobile {
    display: block;

    a {
      border: solid;
      padding: 5px;
    }
  }

  .nav-menu {
    display: none;
  }
}

/* ------  Mobiles in Landscape ------ */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .nav-menu-mobile {
    display: block;

    a {
      border: solid;
      padding: 5px;
    }
  }

  .nav-menu {
    display: none;
  }
}

/* ------------  Media Quries Mixins  ------------ */

@mixin for-size($size) {
  @if $size==phone-only {
    @media (max-width: 599px) {
      @content;
    }
  }

  @else if $size==tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  }

  @else if $size==tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  }

  @else if $size==desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $size==big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

/* ------------  Media Quries Ends  ------------ */

/* ------------  Responsive Grid  ------------ */

$black:#000;
$white:#fff;

.site-footer {
  background-color: $black;
  color: $white;
}

$colors: white,
white,
black,
white;

@mixin columnscolors {
  @for $i from 1 through length($colors) {
    li:nth-child(#{length($colors)}n+#{$i}) {
      background: lighten(nth($colors, $i), 20%);
    }
  }
}

@mixin odd() {
  &:nth-child(odd) {
    @content;
  }
}

.bbg {
  background: $black;
  color: $white;
}

.row {
  div[class^="col-"] {
    /*height: 380px;*/
    @include clearit;
  }

  @include for-size(phone-only) {
    .col-6 {
      background-color: turquoise;
    }

    .col-3 {
      background-color: orangered;
      width: 50%;
    }

    .col-4 {
      background-color: darkkhaki;
      width: 100%;
    }

    .col-8 {
      background-color: khaki;
      width: 100%;
    }

    .col-12 {
      background-color: #bdad20;
      width: 100%;
    }
  }

  @include for-size(tablet-portrait-up) {
    .col-6 {
      @include columnscolors;
      width: 50%;
    }

    .col-3 {
      background-color: orange;
      width: 25%;
    }

    .col-4 {
      background-color: lightcoral;
      width: 33.33333%;
    }

    .col-8 {
      background-color: navy;
      width: 66.66667%;
    }

    .col-12 {
      background-color: hsl(258, 71%, 43%);
      width: 100%;
    }
  }

  @include for-size(desktop-up) {
    .col-2 {
      width: auto;
      padding: 2%;
      margin-top: 2%;
      margin-bottom: 2%;
    }

    .col-6 {
      width: 50%;
      @include columnscolors;
    }

    .col-3 {
      background-color: #f2f2f2;
      width: 25%;

      @include odd() {
        background: #e0e0e0;
      }
    }

    .col-4 {
      background-color: lightgreen;
      width: 33.33333%;
    }

    .col-8 {
      background-color: $white;
      width: 66.66667%;

    }

    .col-12 {
      background-color: #ee17ee;
      width: 100%;
    }
  }

  @include for-size(big-desktop-up) {
    .col-6 {
      background-color: Blue;
      width: 50%;
    }

    .col-3 {
      background-color: darkmagenta;
      width: 25%;
    }

    .col-4 {
      background-color: red;
      width: 33.33333%;
    }

    .col-8 {
      background-color: #20bb5c;
      width: 66.66667%;
    }

    .col-12 {
      background-color: hsl(14, 71%, 43%);
      width: 100%;
    }
  }
}

/* ------------  Responsive Grid Slut ------------ */

#content {
  padding: 0;
}

.r1 {
  position: absolute;
  width: 23%;
  margin-top: 25%;
  margin-left: 28%;
}

hr {
  width: 10%;
  background: #333;
}

@mixin only() {
  &:only-child {
    @content;
  }
}

.p4 {
  padding: 4%;
}

.p-unik {
  padding-top: 4%;
  padding-left: 18%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.p-unik-2 {
  padding-top: 8%;
  padding-left: 4%;
  padding-right: 4%;
}

.p-unik-3 {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.add {
  width: 83%;
  margin: 0px auto;
}

/* ------------  Nav Icons  ------------ */

#logo {
  width: 18%;
  margin-top: -8%;
  position: fixed;
  margin-left: 2%;
}

#contact-img {
  width: 53%;
  margin-top: 7%;
}

#instagram {
  width: 1.5%;
  margin-top: -6.2%;
  margin-right: 25%;
  float: right;
}

#telefon {
  width: 1.5%;
  margin-top: -6.2%;
  margin-right: 21%;
  float: right;
}

#teletext {
  width: 8%;
  margin-top: -5.9%;
  float: right;
  margin-right: 12.5%;
  font-weight: 600;
}

.custom-logo {
  margin-left: 63%;
  margin-top: 20%;
}

@media screen and (min-width: 48em) {
  .custom-logo-link img {
    max-width: 700px;
  }
}

.custom-logo-link img {
  /* display: inline-block; */
  max-height: 160px;
  /* width: auto; */
}

/* ------------  Responsive Menu Styling  ------------ */

.primary-navigation {
  z-index: 3000;
  position: fixed;
  top: 0;
  width: 100%;
}

.panel {
  position: fixed;
  right: -15.625em;
  width: 15.625em;
  background: #222;
}

.push {
  position: relative;
}

.nav-menu ul {
  padding-left: 25%;
  background: white;
  height: 100px;
}

.nav-menu ul li {
  display: inline-block;
  padding: 0px 20px 0px 20px;
  margin-top: 35px;
}

.nav-menu ul li a {
  font-weight: 700;
  font-size: 0.9em;
}

.menu-link {
  display: none;
  color: #fff;
  background: #333;
  border-radius: 4px;
  padding: 2px 12px;
  float: right;
}

.mobile-menu a {
  display: block;
  color: #fff;
  padding: 10px 15px;
}

.mobile-menu a:hover {
  background-color: #555;
}

.mobile-menu li {
  border-bottom: 1px #444 solid;
  list-style: none;
}

@media only screen and (max-width:900px) {

  #primary-menu {
    display: none;
  }

  .mobile-menu #primary-menu {
    display: block;
  }

  .menu-link {
    display: inline-block;
  }
}

/* ------------  Contact Form 7 Styling /kimv_wp/wp-content/plugins/contact-form-7/includes/css/styles.css ------------ */

.trigger {
  display: none;
}

.slider,
.slider-wrapper {
  position: relative;
  height: 250px;
}

.slide {
  background-color: black;
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.slide-img {
  filter: brightness(50%);
  height: 100%;
  object-fit: fill;
  display: block;
  margin: 0 auto;
}

.slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.slide-caption {
  position: absolute;
  bottom: 30%;
  width: calc(100% - 1rem);
  color: white;
  text-align: center;
  left: 50%;
}

.trigger:checked+.slide {
  z-index: 6000;
  opacity: 1;
}

.slider-nav {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.slider-nav__item {
  display: inline-block;
}

.slider-nav__label {
  font-size: 13px;
  background-color: #333;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus {
  background-color: gray;
  color: black;
}

@media only screen and (min-width: 1024px) {

  .slider,
  .slider-wrapper {
    height: 480px;
  }

  .slide-caption {
    width: 65%;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {

  .slider,
  .slider-wrapper {
    height: 360px;
  }

  .slide-caption {
    width: 75%;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .slide-img {
    width: 100%;
    height: auto;
  }
}